body{
    font-family:"Inter", sans-serif ;
    font-size: 14px;
}
.dark{
    background-color: #232326;
    color: #F3F2F0;
}
.dark .nav-link{
    color:#F3F2F0;
}
.dark .circle circle{
    fill: #D40000;
}
.dark .triangle path{
    fill: #FFF;
}
.dark .triangle-form path{
    fill: #FFF;
}
.dark .social, 
.dark .steps-item,
.dark .about-title,
.dark .about-description{
    border-bottom: 1px solid #F3F2F0;
}
.dark .steps-item:first-child{
    border-top: 1px solid #F3F2F0;
}
.dark .nav-info .nav-item::before{
    background-color: rgba(243, 242, 240, 0.5);
    position: absolute;
    left: 0;
    top: calc(50%-12px);
}
.dark .nav-social .nav-item::before{
    background-color: rgba(243, 242, 240, 0.5);
    position: absolute;
    left: 0;
    top: calc(50%-12px);
}
.dark .project:hover{
    border-bottom: 2px solid #F3F2F0;
}
.dark .project-img{
    width: 16px;
    height: 12px;
    display: block;
    background-image:url(../img/arrow.svg); 
    margin-left: 15px;
}
.dark .gradient{
    background: linear-gradient(180deg, #141416 0%, rgba(20, 20, 22, 0) 100%); 
}
.dark .nav-tabs-item.ui-state-active .nav-tabs-link{
    color: #F3F2F0;
    border-bottom: 1px solid #F3F2F0;
}
.dark .nav-tabs-link{
    color: rgba(243, 242, 240, 0.5);
}
.dark .work{
    border-bottom: 1px solid #F3F2F0;
}
.dark .advantages {
    border-top: 1px solid #F3F2F0;
}
.dark .advantages-image path{
    fill: #F3F2F0;
}
.dark .tech-item{
    border-bottom: 1px solid rgba(243, 242, 240, 0.3);
    border-right: 1px solid rgba(243, 242, 240, 0.3);
}
.dark .html{
    border-top: 1px solid rgba(243, 242, 240, 0.3);
}
.dark .css{
    border-top: 1px solid rgba(243, 242, 240, 0.3);
}
.dark .js{
    border-top: 1px solid rgba(243, 242, 240, 0.3);
}
.dark .jquery{
    border-top: 1px solid rgba(243, 242, 240, 0.3);
}
.dark .html{
    border-left: 1px solid rgba(243, 242, 240, 0.3);
}
.dark .bootstrap{
    border-left: 1px solid rgba(243, 242, 240, 0.3);
}
.dark .tarif-item{
    border-bottom: 1px solid #F3F2F0;
}
.dark .tarif-title{
    border-bottom: 1px solid #F3F2F0;
}
.dark .tarif-description{
    border-bottom: 1px solid #F3F2F0;
}
.dark .form-item{
    border-top: 1px solid #F3F2F0;
    z-index: 3;
}

.dark .ui-selectmenu-menu .ui-menu{
    background-color: #38383A;
    color: rgba(243, 242, 240, 0.4);
    font-size: 12px;
}
.dark .ui-selectmenu-menu .ui-menu .ui-menu-item:hover{
    background-color: #38383A;
    color: rgba(243, 242, 240, 1);
    padding: 10px 20px;
}
.dark option{
    background-color: #38383A !important;
    color: rgba(243, 242, 240, 0.4) !important;
}
.light .ui-selectmenu-menu .ui-menu{
    background-color: #E7E6E4;
    color: rgba(1, 1, 1, 0.5);
    font-size: 12px;
}
.light .ui-selectmenu-menu .ui-menu .ui-menu-item:hover{
    background-color: #E7E6E4;
    color: rgba(1, 1, 1, 1);
    padding: 10px 20px;
}
.light option{
    background-color: #E7E6E4 !important;
    color: rgba(1, 1, 1, 0.5) !important;
}
.light{
    background-color: #F3F2F0;
    color: #010101;
}
.light .nav-link{
    color:#010101;
}
.light .circle circle{
    fill: #FFF;
}
.light .triangle path{
    fill: #D40000;
}
.light .triangle-form path{
    fill: #D40000;
}
.light .social, 
.light .steps-item,
.light .about-title,
.light .about-description{
    border-bottom: 1px solid #010101;
}
.light .steps-item:first-child{
    border-top: 1px solid #010101;
}
.light .nav-info .nav-item::before{
    background-color:rgba(1, 1, 1, 0.5);
    position: absolute;
    left: 0;
    top: calc(50%-12px);
}
.light .nav-social .nav-item::before{
    background-color:rgba(1, 1, 1, 0.5);
    position: absolute;
    left: 0;
    top: calc(50%-12px);
}
.light .project:hover{
    border-bottom: 2px solid #010101;
}
.light .project-img{
    width: 16px;
    height: 12px;
    display: block;
    background-image:url(../img/Arrow\ 1.svg); 
    margin-left: 15px;
}
.light .gradient{
    background: linear-gradient(180deg, #E7E6E6 0%, rgba(231, 230, 230, 0) 100%);
}
.light .nav-tabs-item.ui-state-active .nav-tabs-link{
    color: #010101;
    border-bottom: 1px solid #010101;
}
.light .nav-tabs-link{
    color: rgba(1, 1, 1, 0.4);
}
.light .work{
    border-bottom: 1px solid #010101;
}
.light .advantages {
    border-top: 1px solid #010101;
}
.light .advantages-image path{
    fill: #010101;
}
.light .tech-item{
    border-bottom: 1px solid rgba(1, 1, 1, 0.5);
    border-right: 1px solid rgba(1, 1, 1, 0.5);
}
.light .html{
    border-top: 1px solid rgba(1, 1, 1, 0.5);
}
.light .css{
    border-top: 1px solid rgba(1, 1, 1, 0.5);
}
.light .js{
    border-top: 1px solid rgba(1, 1, 1, 0.5);
}
.light .jquery{
    border-top: 1px solid rgba(1, 1, 1, 0.5);
}
.light .html{
    border-left: 1px solid rgba(1, 1, 1, 0.5);
}
.light .bootstrap{
    border-left: 1px solid rgba(1, 1, 1, 0.5);
}
.light .tarif-item{
    border-bottom: 1px solid #010101;
}
.light .tarif-description{
    border-bottom: 1px solid #010101;
}
.light .tarif-title{
    border-bottom: 1px solid #010101;
}
.light .form-item{
    border-top: 1px solid #010101;
    z-index: 3;
}
.wrapper{
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main{
    position: relative;
}
.main .title-h1{
    position: relative;
    z-index: 4;
    margin-top: 38px;
    letter-spacing: 0.03em;
}
.name{
    font-size: 28px;
    position: relative;
    z-index: 3;
}
.title-h1{
    font-size: 74px;
    text-transform: uppercase;
}
.title-h3{
    font-size: 16px;
    font-weight: 700;
}
.photo{
    margin-bottom: 93px;
    width: 100%;
}
header{
   display: flex; 
   justify-content: space-between;
   padding-top: 44px;
   padding-bottom: 65px;
}
.nav{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
}
.nav-item{
    padding-left: 14px;
    padding-right: 14px;
}
.nav-item:first-child{
    padding-left: 0;
}
.nav-item:last-child{
    padding-right: 0;
}
.nav-link{
    text-decoration: none;
    font-size: 14px;  
    transition: 0.2s color ease;  
}
.nav-link:hover{
    color: #D40000;
}
.nav-info .nav-item{
    position: relative;
}
.nav-info .nav-item::before{
    content:'';
    display: block;
    width: 1px;
    height: 24px;
}
.nav-info .nav-item:first-child::before{
    display: none;
}
.nav-social .nav-item{
    position: relative;
}
.nav-social .nav-item::before{
    content:'';
    display: block;
    width: 1px;
    height: 24px;
}
.nav-social .nav-item:first-child::before{
    display: none;
}
.nav-social .nav-item{
    padding-left: 28px;
    padding-right: 28px;
}
.nav-social .nav-item:last-child{
    padding-right: 0;
}
.nav-social .nav-link{
    font-size: 16px;
}
.social{
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
    margin-top: 106px;
}
.social-item:last-child{
    position: relative;
}
.project{ 
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 11px;
    transition: 0.2s border-bottom ease;
    border-bottom: 2px solid transparent;
}
.skill{
    display: flex;
    padding-top: 47px;
}
.skill-item{
    flex: 0 0 22%;
    margin-right: 3%;
}
.skill .title-h3{
    text-transform: uppercase;
    padding-top: 60px;
    letter-spacing: 0.03em;
    
}
.skill .description{
    line-height: 150%;
}
.section-steps{
    padding-top: 167px;
    padding-bottom: 134px;
}
.steps-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 150%;
    padding-top: 12px;
    padding-bottom: 12px;
}
.steps-title{
    font-size: 28px;
}
.steps-title span{
    margin-right: 38px;
}
.steps-description{
    font-size: 16px;
    flex: 0 0 49%;
    max-width: 49%;
}
.circle-main{
    width: 253px;
    height: 253px;
    position: absolute;
    left: -128px;
    top: calc(50% - 138px);
    z-index: 1;
}
.triangle{
    position: absolute;
    left: -151px;
    top: -23px;
    z-index: 2;
}
.circle-nav{
    width: 106px;
    height: 106px;
    position: absolute;
    right: 38px;
    top: calc(50% - 60px);
}
.circle-tarif{
    width: 140px;
    height: 140px;
    position: absolute;
    left: -80px;
    top: calc(50% - 70px);
}
.circle-price{
    width: 90px;
    height: 90px;
    position: absolute;
    left: -46px;
    top: calc(50% - 45px);
}
.section-about{
    padding-top: 107px;
}
.about{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.about-title{
    grid-column: 1/3;
    grid-row: 1/2;    
    font-size: 28px;
    line-height: 150%;    
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 67px;
    padding-bottom: 62px;
}
.about-description{
    grid-column: 3/5;
    grid-row: 1/2;
    font-size: 28px;
    line-height: 150%;
    opacity: 0.8;
    padding: 67px 10px 62px 9px;
}
.about-01{
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 47px 20px 35px 9px;
}
.about-02{
    grid-column: 4/5;
    grid-row: 2/3;
    padding: 47px 10px 35px 12px;
}
.about-03{
    grid-column: 3/4;
    grid-row: 3/4;
    padding: 14px 9px;
}
.about-04{
    grid-column: 4/5;
    grid-row: 3/4;
    padding: 14px 10px 14px 12px;
}
.about-item .description{
    line-height: 150%;
    opacity: 0.8;
}
.about-item >p{
    margin-top: 0;
    margin-bottom: 0;
}
.about-item .title-h3{
    margin-bottom: 21px; 
}
.portfolio{
    margin-bottom: 145px;
    position: relative;
    z-index: 1;
}
.section-portfolio{
    position: relative;
}
.circle-portfolio{
    width: 465px;
    height: 465px;
    position: absolute;
    top: -323px;
    left: 347px;
}
#tabs{
    position: relative;
}
.nav-tabs {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin 0;
    position: absolute;
    top:-76px;
    font-size: 16px;
}
.nav-tabs-item{
    margin-right: 74px;
    padding-top: 21px;
    padding-bottom: 21px;
}
.nav-tabs-link{
    border-bottom: 1px solid transparent;
    padding-bottom: 21px;
    text-decoration: none;
}
.nav-tabs-link:focus{
    outline: none;
}
.work{
    display: flex;
    justify-content: space-between;
    padding-top: 62px;
    padding-bottom: 54px;
}
.work-item{
    flex: 0 0 49%;
}
.work-title{
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    margin-top: 38px;
    margin-bottom: 40px;
}
.work-list{
    list-style-type: none;
    font-size: 16px;
    line-height: 150%;
    opacity: 0.8;
    padding-left: 0;
    margin-bottom: 40px;
}
.work-list-item{
    margin-bottom: 11px;
}
.work-time{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    opacity: 0.8;
    margin-bottom: 0;
}
.work-thumb{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 315px;
}
.work-image{
    position: absolute;
    left: -50%;
    top: -50%;
    transform: translate(50%,50%);
    width: 100%;
    height: 315px;
    object-fit: cover;
}
.section-advantages{
    padding-top: 153px;
    padding-bottom: 180px;
}
.advantages-text{
    font-size: 28px;
    line-height: 150%;
    max-width: 870px;
}
.advantages {
    display: grid;
    grid-template:1fr 1fr/repeat(3,1fr);
    grid-gap: 81px 22px;
    padding-top: 80px;
    margin-top: 78px;
}
.advantages-item{
    display: flex;
    align-items: center;
}
.advantages-image svg{
    width: 40px;
    height: 40px;
    margin-right: 40px;
}
.advantages .title-h3{
    margin-top: 0; 
    margin-bottom: 11px;
}
.advantages-description{
    margin-bottom: 0;
    font-size: 14px;
    line-height: 150%;
    opacity: 0.8;
    margin-top: 0;
}
.tech{
   display: grid; 
   grid-template: 148px 148px / repeat(4,1fr);
   text-align: center;
}
.tech-item{
    display: flex;
    justify-content: center;
}
.tech-image{
    filter: grayscale(100%);
    transition: 0.2s ease;
}
.tech-item:hover .tech-image{
    filter: grayscale(0);
}
.jquery .tech-image{
    width: 72px;
}
.ui-tooltip{
    background-color: #E31B1B;
    border-color: #E31B1B!important;
    border-radius: 0;
    text-align: center;
    box-shadow: none!important;
    font-size: 10px;
    color: rgba(243, 242, 240, 0.8);
    max-width: 232px;
    line-height: 150%;
    padding: 20px;
    box-sizing: border-box;
}
.ui-tooltip-content::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -20px;
    width:2px;
    border:10px solid transparent;
    border-bottom:10px solid #E31B1B;
}
.section-tarif{
    padding-top: 150px;
}
.tarif{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tarif-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 268px;
    padding-bottom: 61px;
}
.tarif-title{    
    font-size: 28px;
    line-height: 150%;    
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 5px;
}
.tarif-title > div{
    position: relative;
}
.tarif-title p{
    position: relative;
    z-index: 1;
}
.tarif-description{
    font-size: 28px;
    line-height: 150%;
    opacity: 0.8;
    border-bottom: 1px solid #F3F2F0;
    padding-bottom: 51px;
}
.tarif-name{
    font-size: 28px;
    line-height: 150%;
    margin-bottom: 20px;
}
.tarif-text{
    font-size: 16px;
    line-height: 150%;
    opacity: 0.8;
}
.tarif .project{
    display: inline-flex;
}
.tarif-pack{
    font-size: 16px;
    line-height: 150%;    
    font-weight: 700;
    margin-top: 28px;
    margin-bottom: 27px;
}
.tarif-list{
    font-size: 16px;
    list-style-type: none;
    padding-left: 0;
    margin: 0;  
}
.tarif-list-item{
    position: relative;
    padding-left: 15px;
    margin-bottom: 14px;
}
.tarif-list-item::before{
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background: #F3F2F0;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: calc(50% - 2px);
}
.tarif-price{    
    font-weight: 700;
    font-size: 42px;
    line-height: 150%;
}
.tarif-footer{
    position: relative;

}
.tarif-footer p{
    position: relative;
    z-index: 1;
    margin: 0;
}
.section-form{
    padding-top: 90px;
    padding-bottom: 128px;
}
.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.circle-form{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 37px;
    top: 6263px;
    z-index: -2;
}
.triangle-form{
    position: absolute;
    left: 11px;
    top: 6320px;
    z-index: -1;
}
.form-title{    
    font-size: 28px;
    line-height: 150%;    
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    z-index: 0;
}
.form-description{
    font-size: 28px;
    line-height: 150%;
    opacity: 0.8;
    padding-bottom: 31px;
}
.form-item{
    padding-top: 60px;
}
.form-social{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.form-social .nav-social{
    margin-bottom: 4px;
}
form{
    font-size: 12px;
    line-height: 150%;
}
form label{
    opacity: 0.8;
    margin-bottom: 10px;
    display: block;
}
.dark form input{
    width: 100%;
    padding: 26px 20px 26px;
    background-color: #38383A;
    border: none;
    box-sizing: border-box;
    margin-bottom: 21px;
    color: #F3F2F0;
}
.light form input{
    width: 100%;
    padding: 26px 20px 26px;
    background-color: #E7E6E4;
    border: none;
    box-sizing: border-box;
    margin-bottom: 21px;
    color: #010101;
}
form input:focus{
    outline: none;
}
form input[type=submit]{
    background: #D40000;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    color: #F3F2F0;
    padding: 21px 0;
    margin-bottom: 0;
    transition: 0.2s ease;
}
form input[type=submit]:hover{
    background: #EA0E00;
    cursor: pointer;
}
form select{
    width: 100%;
}
.dark .ui-selectmenu-button.ui-button{
    width: 100%;
    background-color: #38383A;
    color: #F3F2F0;
    padding: 25px 20px 25px;
    box-sizing: border-box;
    margin-bottom: 39px;
    border-radius: 0;
}
.light .ui-selectmenu-button.ui-button{
    width: 100%;
    background-color: #E7E6E4;
    color: #010101;
    padding: 25px 20px 25px;
    box-sizing: border-box;
    margin-bottom: 39px;
    border-radius: 0;
}
.ui-button:hover, .ui-button:focus{
    border: none;
    outline: none;
}
.ui-selectmenu-menu .ui-menu .ui-menu-item{
    padding: 10px 20px;
}

.dark footer{
    border-top: 1px solid #F3F2F0;
}
.light footer{
    border-top: 1px solid #010101;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 43px;
    padding-bottom: 41px;
}
.dark .footer-bottom p{
    margin: 0;
    color: rgba(243, 242, 240, 0.3);
    padding-top: px;
    padding-bottom: px;
}
.dark .footer-link{
    color: rgba(243, 242, 240, 0.3);
    border-bottom: 1px solid rgba(243, 242, 240, 0.3);
    transition: 0.2s ease;
    text-decoration: none;
}
.dark .footer-link:hover{
    color: rgba(243, 242, 240, 1);
    border-bottom: 1px solid rgba(243, 242, 240, 1);
}
.light .footer-bottom p{
    margin: 0;
    color: rgba(1, 1, 1, 0.5);
    padding-top: px;
    padding-bottom: px;
}
.light .footer-link{
    color: rgba(1, 1, 1, 0.5);
    border-bottom: 1px solid rgba(1, 1, 1, 0.5);
    transition: 0.2s ease;
    text-decoration: none;
}
.light .footer-link:hover{
    color: rgba(1, 1, 1, 1);
    border-bottom: 1px solid rgba(1, 1, 1, 1);
}